.container-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10%;
}

.container-main :is(.card) {
  background: #fff;
  color: black;
  padding: 1.5rem;
  margin: 1.25rem;
  border-radius: 0.3125rem;
  width: 25%;
}

.container-main :is(a) {
  text-decoration: none;
}

.container-main p {
  color: #FFF;
  font-weight: bold;
  text-decoration: underline;
  text-transform: uppercase;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.title-thanks{
  margin: -10px;
  padding: 0;
  color: #000;
}

.logos-modal {
  width: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0 auto;
}

.logos-modal img {
  width: 100px;
}

@media screen and (max-width: 1024px) {
  .container-main {
    padding: 25px;
  }

  .container-main :is(.card) {
    padding: 2rem;
  }
}

@media screen and (max-width: 610px) {
  h1 {
    font-size: 1.5em;
  }

  .logos-modal {
    flex-direction: column;
  }

  .logos-modal img {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 400px) {
  h1 {
    font-size: 1em;
    word-break: break-word;
  }
}
